html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: "Josefin Slab", serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1b1b1b;
}

canvas {
	display: block;
}

@font-face {
	font-family: "Comic Sans MS", "Comic Sans", sans-serif;
	src: url("src/assets/fonts/ComicSansMS.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
